@model TokoBuku.Models.Buku

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Buku</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KodeBuku" />
            <div class="form-group">
                <label asp-for="Judul" class="control-label"></label>
                <input asp-for="Judul" class="form-control" />
                <span asp-validation-for="Judul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penerbit" class="control-label"></label>
                <input asp-for="Penerbit" class="form-control" />
                <span asp-validation-for="Penerbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Harga" class="control-label"></label>
                <input asp-for="Harga" class="form-control" />
                <span asp-validation-for="Harga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.CreatedBy"></select>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
